

 body {
    background-color: lightsalmon;
 }

 h1 {
    font-family: monospace;
    font-size: 40px;
    text-align: center;
  }

  h2 {
    font-size: 35px;
  }

  p {
    font-family: cursive, sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    font-style: italic;
  }

  ul {
    font-size: 25px;
  }